<!DOCTYPE html>
<html>
<head>
  <title>MyBackend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Backend</h1>
<!-- buttons -->
<% if user_signed_in? %>
  <%= current_user.email %>
  <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to t('.sign_up'), new_user_registration_path %> |
  <%= link_to t('.log_in'), new_user_session_path %>
<% end %>
<!-- messages -->
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
